// Place all the styles related to the mappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mapping-index {
  border-collapse: collapse;
}

.mapping-index td, .mapping-index th {
  border: 1px solid #eee;
  padding: 7px 15px;
}

.mapping-index th {
  text-align: left;
}

.mapping-index tr {
  cursor: pointer;
}

// .mapping-index tr:active {
//   background-color: rgb(160, 158, 209) !important;
// }

.mapping-index tr.selected {
  background-color: rgb(213, 212, 240);
}
